

<div id="wrapper">

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	<div id="logo">

	</div>

		<div class="post">
			<h1> Users#new</h1>
			    <p>Find me in app/views/users/new.html.erb</p>
			</div>
		</div>

	</div>
	<!-- end content -->
	<!-- start sidebars -->
	
	<div style="clear: both;">&nbsp;</div>
<!-- end page -->
<div id="footer">
	<p><%= link_to "Go Back to Host Page" , root_path%></p>
</div>
</div>

</div>
