

	<div id="wrapper">

	<!-- start page -->
	<div id="page">
		<!-- start content -->
		<div id="content">
		<div id="logo">

		</div>

			<div class="post">
				<h1> Dear Guest </h1>
				This is the Guest page for the  Party Manager application.
				</div>
			</div>

		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<div style="clear: both;">&nbsp;</div>
	<!-- end page -->
	</div>
	
	</div>
  

