
    
		<div id="wrapper">

		<!-- start page -->
		<div id="page">
			<!-- start content -->
			<div id="content">
			<div id="logo">

			</div>

				<div class="post">
					<h1> Dear Mrs. Al - Doha </h1>
					This is the host page for the host in the Party Manager application.
					</div>
				</div>

			</div>
			<!-- end content -->
			<!-- start sidebars -->
			<div id="sidebar1" class="sidebar">
				<ul>
					<li>
						<h2>Didn't Sign up yet ?</h2>
						<ul>
							<p>you want to have an account and plan a party and invite guests </a>
							  Hurry up and Sign up today</a>   
		                      <a href="#"target="_blank">click here </a></p>
						</ul>
					</li>
					<li>
						<h2>Are you a Guest?</h2>
						<ul>
							<p>you want to attend a party </a>
							  please click on the link so that you can RSVP for a Party!</a>   
		                     <%= link_to "Click here , guest_path"%>
		</p>
						</ul>
					</li>
					<li>
						<h2>Plan a Party</h2>
						<ul>
							<p>you want to go to the party page </a>
							  to a Birthday Party. To celebrate with you lover once , please enter the  Party Page</a>   
		                      <%= link_to "Click here , party_path"%></p>
						</ul>
					</li>
					
			</div>
			<div id="sidebar2" class="sidebar">
				<ul>
					<li>
					  <h2>News</h2>
						<p>Lionel Messi was the history-making hero, becoming the first player to score five times in a single Champions League match.</p>
					</li>
					<li>
						<h2>Calendar</h2>
						<div id="calendar_wrap">
							<table width="100%" summary="Calendar">
								<caption>
								MARCH 2012
								</caption>
								<thead>
									<tr>
										<th abbr="Monday" scope="col" title="Monday">M</th>
										<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
										<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
										<th abbr="Thursday" scope="col" title="Thursday">T</th>
										<th abbr="Friday" scope="col" title="Friday">F</th>
										<th abbr="Saturday" scope="col" title="Saturday">S</th>
										<th abbr="Sunday" scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td abbr="September" colspan="3" id="prev"><a href="#" title="View posts for September 2007">&laquo;FEB</a></td>
										<td class="pad">&nbsp;</td>
										<td colspan="3" id="next">&nbsp;</td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td id="today">4</td>
										<td>5</td>
										<td>6</td>
										<td>7</td>
									</tr>
									<tr>
										<td>8</td>
										<td>9</td>
										<td>10</td>
										<td>11</td>
										<td>12</td>
										<td>13</td>
										<td>14</td>
									</tr>
									<tr>
										<td>15</td>
										<td>16</td>
										<td>17</td>
										<td>18</td>
										<td>19</td>
										<td>20</td>
										<td>21</td>
									</tr>
									<tr>
										<td>22</td>
										<td>23</td>
										<td>24</td>
										<td>25</td>
										<td>26</td>
										<td>27</td>
										<td>28</td>
									</tr>
									<tr>
										<td>29</td>
										<td>30</td>
										<td>31</td>
										<td class="pad" colspan="4">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li>
						<h2>Meetings</h2>
						<ul>
							<li>CEO xxx</li>
							<li>meeting with google</li>
							<li>My children Graduation Party</li>
							<li>Traveling to Ausrtarila</li>

						</ul>
					</li>
				</ul>
			</div>
			<!-- end sidebars -->
			<div style="clear: both;">&nbsp;</div>
		<!-- end page -->
		</div>
		<div id="footer">
			<p><%= link_to "Click here , root_path"%></p>
		</div>
		</div>
      
  